## Clase de repaso de comandos

#### Vamos a implementar el siguiente ejercicio:
<center>
<img src="images/diagramaClaseBiblioteca.svg">
</center>

#### Crear la base de datos

In [ ]:
CREATE DATABASE biblioteca;
use biblioteca;

#### Crear las tablas

In [ ]:
CREATE TABLE Autor (
  ID_Autor INT PRIMARY KEY AUTO_INCREMENT,
  Nombre VARCHAR(100),
  Nacionalidad VARCHAR(50)
);

In [ ]:
CREATE TABLE Libro (
  ID_Libro INT PRIMARY KEY AUTO_INCREMENT,
  Titulo VARCHAR(100),
  ID_Autor INT,
  Ano_Publicacion INT,
  FOREIGN KEY (ID_Autor) REFERENCES Autor(ID_Autor)
);

In [ ]:
CREATE TABLE Estudiante (
  ID_Estudiante INT PRIMARY KEY AUTO_INCREMENT,
  Nombre VARCHAR(100),
  Direccion VARCHAR(100),
  Telefono VARCHAR(15)
);

In [ ]:
CREATE TABLE Prestamo (
  ID_Prestamo INT PRIMARY KEY AUTO_INCREMENT,
  ID_Estudiante INT,
  ID_Libro INT,
  Fecha_Prestamo DATE,
  Fecha_Devolucion DATE,
  FOREIGN KEY (ID_Estudiante) REFERENCES Estudiante(ID_Estudiante),
  FOREIGN KEY (ID_Libro) REFERENCES Libro(ID_Libro)
);

In [ ]:
CREATE TABLE Categoria (
  ID_Categoria INT PRIMARY KEY AUTO_INCREMENT,
  Nombre_Categoria VARCHAR(50)
);

In [ ]:
CREATE TABLE Libro_Categoria (
  ID_Libro INT,
  ID_Categoria INT,
  PRIMARY KEY (ID_Libro, ID_Categoria),
  FOREIGN KEY (ID_Libro) REFERENCES Libro(ID_Libro),
  FOREIGN KEY (ID_Categoria) REFERENCES Categoria(ID_Categoria)
);

#### Popular la base de datos: LLenar

In [ ]:
INSERT INTO Autor (Nombre, Nacionalidad) VALUES
('Gabriel García Márquez', NULL),
('J.K. Rowling', 'Británica'),
('George R. R. Martin', NULL),
('J.R.R. Tolkien', 'Británico'),
('Stephen King', NULL),
('Isabel Allende', 'Chilena'),
('Paulo Coelho', NULL),
('Agatha Christie', 'Británica'),
('Dan Brown', NULL),
(NULL, 'Japonés');

In [ ]:
INSERT INTO Libro (Titulo, ID_Autor, Ano_Publicacion) VALUES
('Cien años de soledad', 1, 1967),
('Harry Potter y la piedra filosofal', 2, 1997),
('Juego de Tronos', 3, NULL),
('El Señor de los Anillos', 4, 1954),
('El Resplandor', 5, 1977),
('La Casa de los Espíritus', 6, NULL),
(NULL, 7, 1988),
('Asesinato en el Orient Express', 8, NULL),
('El Código Da Vinci', 9, 2003),
(NULL, 10, 2002);

            El alquimista

In [ ]:
INSERT INTO Estudiante (Nombre, Direccion, Telefono) VALUES
('Juan Pérez', 'Calle 123', '1234567890'),
('María Rodríguez', 'Avenida 456', '0987654321'),
('Carlos García', 'Boulevard 789', NULL),
('Ana López', 'Carrera 321', '5566778899'),
(NULL, 'Transversal 654', '9988776655');

In [ ]:
INSERT INTO Prestamo (ID_Estudiante, ID_Libro, Fecha_Prestamo, Fecha_Devolucion) VALUES
(1, 1, '2023-01-01', '2023-01-15'),
(1, 2, '2023-01-16', NULL),
(2, 3, NULL, '2023-02-15'),
(2, 4, '2023-02-16', NULL),
(3, 5, '2023-03-01', '2023-03-15');

In [ ]:
INSERT INTO Categoria (Nombre_Categoria) VALUES
('Novela'),
('Fantasía'),
('Ciencia Ficción'),
('Terror'),
('Misterio'),
('Romance'),
('Historia'),
('Biografía'),
('Autoayuda'),
('Aventura');

In [ ]:
INSERT INTO Libro_Categoria (ID_Libro, ID_Categoria) VALUES
(1, 1),
(2, 2),
(3, 2),
(4, 2),
(5, 1),
(6, 1),
(7, 1),
(8, 5),
(9, 5),
(10, 1);

#### Eliminar tabla

In [ ]:
DROP TABLE `autor`, `categoria`, `estudiante`, `libro`, `libro_categoria`, `prestamo`;

#### Borrar todos los datos de una tabla

In [ ]:
TRUNCATE `autor`;
TRUNCATE `categoria`;
TRUNCATE `estudiante`;
TRUNCATE `libro`;
TRUNCATE `libro_categoria`;
TRUNCATE `prestamo`;

#### Actualizar tabla

In [ ]:
UPDATE Estudiantes
SET Telefono = '1234567890'
WHERE Nombre = 'Juan';

#### Consultas avanzadas
####  Join

Un JOIN en SQL es como un puente que conecta dos tablas en una base de datos. Imagina que tienes dos listas de información, pero necesitas combinarlas de alguna manera para obtener una imagen más completa. Eso es básicamente lo que hace un JOIN.

<img src="images/tableJoins.png">

##### Estructura

In [ ]:
SELECT columnas
FROM tabla1
JOIN tabla2 ON condición

##### Tipos de Joins

<img src="images/joins.png">

#### Ejercicio 1

Obtén una lista de todos los libros que un estudiante específico ha tomado prestados. Para este ejercicio, necesitarás unir las tablas "ESTUDIANTE", "PRESTAMO" y "LIBRO".

In [ ]:
SELECT *
FROM Estudiante E
JOIN Prestamo P ON E.ID_Estudiante = P.ID_Estudiante
JOIN Libro L ON P.ID_Libro = L.ID_Libro
WHERE E.ID_Estudiante = 1;

#### Ejercicio 2
Obtén una lista de todos los autores de los libros que un estudiante específico ha tomado prestados. Para este ejercicio, necesitarás unir las tablas "ESTUDIANTE", "PRESTAMO", "LIBRO" y "AUTOR".

In [ ]:
SELECT A.Nombre
FROM Estudiante E
JOIN Prestamo P ON E.ID_Estudiante = P.ID_Estudiante
JOIN Libro L ON P.ID_Libro = L.ID_Libro
JOIN Autor A ON L.ID_Autor = A.ID_Autor
WHERE E.Nombre = 'Nombre del Estudiante';

#### Taller

1. Encuentra todos los libros publicados después del año 2010.
2. Muestra los nombres de los usuarios que han prestado libros en la biblioteca.
3. Encuentra el título y el autor de los libros prestados actualmente (es decir, aquellos que aún no han sido devueltos).
4. Muestra el nombre del usuario que ha prestado más libros en la biblioteca.
5. Encuentra los libros que fueron prestados por un usuario en particular (se proporciona el ID del usuario).
6. Encuentra el número total de libros prestados en la biblioteca hasta la fecha.
7. Muestra los nombres de los usuarios que han prestado al menos un libro en más de una ocasión.
8. Encuentra el título y el autor de los libros que aún no han sido prestados.
9. Muestra el promedio de días que los libros son prestados antes de ser devueltos.
10. Encuentra los usuarios que tienen libros prestados actualmente y que también hayan prestado libros en el último mes.
11. Encuentra los libros cuyo título contiene la palabra "aventura" y fueron publicados antes del año 2000.
12. Muestra los usuarios que han prestado libros más de una vez en un lapso de tiempo de una semana.
13. Encuentra los libros que han sido prestados por usuarios cuyo nombre empieza con la letra "J".
14. Muestra el nombre de los autores que tienen al menos dos libros en la biblioteca.
15. Encuentra el título y el autor del libro menos prestado en la biblioteca.
16. Muestra los usuarios que nunca han prestado un libro en la biblioteca.
17. Encuentra los libros prestados en los últimos 30 días y ordena la lista por fecha de préstamo de forma descendente.
18. Muestra el nombre de los usuarios y la cantidad de libros que han prestado en total, en orden descendente por la cantidad de libros prestados.
19. Encuentra los libros que han sido prestados y devueltos en la misma fecha.
20. Muestra el título y el autor de los libros que han sido prestados más de una vez en la misma fecha.

#### Tarea

Vamos a realizar el montaje de la siguiente base de datos de acuerdo con el diagrama ER.

<img src='images/DiagramaMedicoEnCasa.png'>

Deben enviar un archivo con las consultas ejecutadas para crear la base de datos, las tablas y los ejercicios propuestos más abajo:

1. 
2. 
3. 
4. 
5. 
6. 
7. 
8. 
9. 
10.

**Nota: Con los scripts que me envíen, se debe poder correr por parte del docente y obtener las consultas correctas sin errores.**